<% if(locals.error) { %> <% switch(locals.error) { case "signup": %>
<div class="alert alert-danger" role="alert">
  <p>Veuillez remplir tous les champs pour compléter votre incription.</p>
</div>
<% break; case "email": %>
<div class="alert alert-danger" role="alert">
  <p>Veuillez fournir une adresse email valide (ex: moi@exemple.fr).</p>
</div>
<% break; case "alreadyExist": %>
<div class="alert alert-danger wrapper" role="alert">
  <p>Malheureusement cette adresse email est déjà utilisée.</p>
  <a class="button--reverse" href="/login">Se connecter</a>
</div>
<% break; case "password": %>
<div class="alert alert-danger" role="alert">
  <p>
    Les mots de passe doivent faire 8 caractéres au minimum et contenir une
    majuscule, un chiffre et un caractére spécial !
  </p>
</div>
<% break; case "matchingPassword": %>
<div class="alert alert-danger" role="alert">
  <p>Les mots de passe ne correspondent pas.</p>
</div>
<% break; case "login": %>
<div class="alert alert-danger" role="alert">
  <p>Veuillez remplir tous les champs pour vous connecter.</p>
</div>
<% break; }} %>
