<body>
  <header
    class="d-flex justify-content-between align-items-center p-3 bg-primary text-white"
  >
    <a href="/" class="h3 text-white text-decoration-none">O'quiz</a>
    <nav class="my-1">
      <a class="p-2 text-white" href="/">Accueil</a>
      <a class="p-2 text-white" href="/tags">Sujets</a>
      <a class="p-2 text-white" href="/signup">S'inscrire</a>
      <a class="p-2 text-white" href="/login">Se connecter</a>
    </nav>
  </header>
</body>
