<body>
  <header
    class="d-flex justify-content-between align-items-center p-3 bg-primary text-white"
  >
    <a href="/" class="h3 text-white text-decoration-none">O'quiz</a>
    <nav class="d-flex">
      <a class="p-2 text-white" href="/">Accueil</a>
      <a class="p-2 text-white" href="/tags">Sujets</a>
      <% if (locals.user) { %>
        <a class="p-2 text-white"href="/profile/quizzes">Mes quizs</a>  
        <a class="p-2 text-white"href="/profile">Mon profil</a>
        <p class="p-2 text-white"><b><%= user.fullname %></b></p>
      <a class="button button--off" href="/logout">Se déconnecter</a>
      <% } else { %>
      <a class="p-2 text-white" href="/signup">S'inscrire</a>
      <a class="p-2 text-white" href="/login">Se connecter</a>
      <% } %>
    </nav>
  </header>
</body>
