<div id="deleteAnswerModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/profile/quizs/<%= quiz.id %>/questions/<%= question.id %>/answers/delete" method="POST">
        <div class="modal-header">
          <h4 class="modal-title">Suppression de <b><%= answer.title %></b></h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>Etes-vous certain ?</p>
          <p class="text-warning">
            <small>Cette action est irréverssible !</small>
          </p>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Annuler"
          />
          <input
            type="submit"
            class="btn btn-danger"
            value="Supprimer"
          />
        </div>
      </form>
    </div>
  </div>
</div>
