<%- include('partials/header') %>
<%- include('partials/nav') %>

<main class="container py-4">
  <div class="text-center">
    <h1 class="error__title">404</h1>
    <p>
      La chose que vous recherchez se trouve peut-être quelque part<br />mais
      elle n'est pas ici . . .
    </p>
  </div>
</main>

<%- include('partials/footer') %>
