<%- include("../partials/header") %>
<%- include("../partials/nav") %>

<main class="container py-4">
  <h1 class="my-3">Mon profil</h1>

  <nav>
    <ul>
      <li><a href="/profile">Profil</a></li>
      <li><a class="active" href="/profile/quizzes">Mes quizs</a></li>
      <li><a href="/profile/score">Mes scores</a></li>
    </ul>
  </nav>

  <h2>Mes quizs</h2>
  <ul>
    <% for (const quiz of quizzes) { %>
    <li>
      <div>
        <h3><%= quiz.title %></h3>
        <span>Voir le quiz</span>
      </div>
    </li>
    <% } %>
  </ul>
  <button class="button button--add">Ajouter un quiz</button>
</main>

<%- include("../partials/footer") %>
