<%- include("../partials/header") %>
<%- include("../partials/nav") %>

<main class="container py-4">
  <h1 class="my-3">Mon profil</h1>

  <nav>
    <ul>
      <li><a href="/profile">Profil</a></li>
      <li><a href="/profile/quizs">Mes quizs</a></li>
      <li><a class="active" href="/profile/score">Mes scores</a></li>
    </ul>
  </nav>

  <h2>Mon Score</h2>

  <p>420 points</p>
</main>

<%- include("../partials/footer") %>
